<h1>Demande de réinitialisation de mon de passe</h1>

<p>Si vous n'etes pas a l'origine de cette demande ne prennez pas compte de ce mail</p>
<p>Pour réinitialiser votre mot de passe cliquer sur le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans : {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
